.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid red;
}
.navlinks {
  display: flex;
  align-items: center;
  gap: 2vw;
  font-size: 3vw;
}
.navlinks a {
  text-decoration-line: none;
  position: relative;
}
.navlinks a::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  height: 5px;
  width: 30px;
  background-color: red;
  transition: all ease 0.5s;
}
.navlinks a:hover::after {
  width: 100%;
}
.btn button {
  border: none;
  outline: none;
  font-size: 2vw;
  background-color: antiquewhite;
}
